body{
   background-color: #ebd5d5;
    font-family: "Love Ya Like A Sister", cursive;
}
a{
    color:#5a082d
}
a:hover{
 text-decoration: underline;
 color: #fa360a;
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 2;
    color: #5a082d;
}
header{
    margin-bottom: 10px;
}
form{
    padding:30px;
    background-color: #ffedff;
    border-radius: 20px;
    box-shadow: 0px 20px 60px;
    display:flex;
    margin-bottom: 50px;
}
.container{
    margin: 120px auto;
    max-width: 600px;
}
.instructions{
    padding: 16px;
    font-size: 16px;
    border: 1px solid #fa360a;
    border-radius: 10px;
    line-height: 25px;
    color:#474168;
    width:80%;
}

.submit-button{
margin-left: 10px;
background: #5a082d;
color:azure;
font-family: Love Ya Like A Sister;
font-size: 20px;
width: 150px;
border: none;
border-radius: 30px;
padding:14px 24px;
}

.poem{
font-size:16px;
background-color:#ffedff; 
color: #5a082d;
padding: 30px;
line-height: 2;
border-left: 3px solid #5a082d;
border-radius: 10px;
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
